# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test images / local data (optional)
test_images/
uploads/

# Docker
Dockerfile
docker-compose.yml